{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static', filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">Manage your posts and apply changes</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<br/>
<div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <a href="/dashboard"><button class="btn btn-primary">Dashboard Home</button></a>
              <a href="/logout"><button class="btn btn-primary">Logout</button></a>
<h1>Add/Edit Posts:</h1>

<form name="sentMessage" id="contactForm" action="/edit/{{srno}}" method="POST" novalidate>
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Title" name="title" id="title" required data-validation-required-message="Please enter the title." value="{{post.title}}">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Slug</label>
        <input type="text" class="form-control" placeholder="Slug" name="slug" id="slug" required data-validation-required-message="Please enter slug." value="{{post.slug}}">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
          <label>Content</label>
          <input type="text" class="form-control" placeholder="Content" name="postContent" id="postContent" required data-validation-required-message="Please enter the content." value="{{post.postContent}}">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <div class="control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
          <label>Image File</label>
          <input type="text" class="form-control" placeholder="Image File" name="imgFile" id="imgFile" required data-validation-required-message="Please enter Image File." value="{{post.imgFile}}">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <br>
      <div id="success"></div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
      </div>
  </form>

</div>
</div>
</div>

  <!-- Main Content -->

  {% endblock %}
